.produto {
    background-color: aqua;
}

.produto2 {
    background-color: green;
    color: white;
    padding: 30px;
}

.produto2 span {
    color: black;
    padding:  2px;
    border: solid white ;
    background-color: white;
    
}